# RPC urls, follow the format RPC_URL_{chainId}={rpcUrl}

PONDER_RPC_URL_1=https://ethereum-rpc.publicnode.com
PONDER_RPC_URL_8453=https://base-rpc.publicnode.com
PONDER_RPC_URL_59144=https://linea-rpc.publicnode.com

# ponder indexer ens deployment configuration

ENS_DEPLOYMENT_CHAIN_ID=1

# ponder indexer database configuration

## one schema name per chain ID, i.e. ponder_ens_${ENS_DEPLOYMENT_CHAIN_ID}
DATABASE_SCHEMA=ponder_ens_1
DATABASE_URL=postgresql://dbuser:abcd1234@localhost:5432/my_database
