---
import { ENSAdminLogoDark } from "../atoms/ENSAdminLogoDark";
import { ENSAdminLogoLight } from "../atoms/ENSAdminLogoLight";
---

<div class="not-content antialiased flex flex-col flex-nowrap gap-8 justify-center items-center smaller_hero:items-start text-center smaller_hero:text-start sm:py-20">
    <div class="flex flex-col flex-nowrap justify-center items-start gap-4">
        <h1 class="max-w-xl font-semibold leading-tight  text-3xl sm:text-[4rem]">The new multichain indexer for ENSv2</h1>
        <p class="text-base sm:text-xl sm:max-w-[50ch] text-[#4a5c63] font-normal">Multichain indexer for ENS with ENS Subgraph backwards compatibility.</p>
    </div>
    <div class="w-full flex flex-row flex-nowrap justify-center smaller_hero:justify-start items-center gap-8">
        <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://admin.ensnode.io/"
                class="no-underline hover:no-underline"
        >
            <button class="cursor-pointer transition-all duration-200 bg-black hover:bg-[#272727] flex flex-row flex-nowrap justify-center items-center gap-2 rounded-lg pl-2 pr-3 py-2">
                <ENSAdminLogoLight className="w-10 h-auto" />
                <div class="flex flex-col flex-nowrap justify-center items-start h-fit w-fit text-white text-sm font-semibold leading-5">
                    Connect now
                    <p class="text-xs text-center font-normal leading-5 text-gray-400 w-full">
                        with ENSAdmin
                    </p>
                </div>
            </button>
        </a>
        <a
                href="/ensnode/"
                class="text-black text-base font-normal underline decoration-transparent hover:decoration-current sm:underline-offset-[4px] sm:transition-all sm:duration-200 sm:hover:underline-offset-[2px]"
        >
            <!--<button class="box-border h-14 cursor-pointer text-white text-base sm:text-lg font-medium transition-all duration-200 bg-black hover:bg-[#272727] flex flex-row flex-nowrap justify-center items-center gap-2 rounded-lg px-6 py-2">-->
            <!--    Docs-->
            <!--</button>-->
            Documentation &rarr;
        </a>
    </div>
</div>
