---
import { ENSAdminLogoLight } from "../atoms/ENSAdminLogoLight";
---

<div class="not-content antialiased flex flex-col flex-nowrap gap-8 justify-center items-center min-[800px]:items-start text-center min-[800px]:text-start sm:py-20">
    <div class="flex flex-col flex-nowrap justify-center items-start gap-4">
        <h1 class="max-w-xl font-semibold leading-tight  text-3xl sm:text-[4rem]">The new multichain indexer for ENSv2</h1>
        <p class="text-base sm:text-xl sm:max-w-[50ch] text-[#4a5c63] font-normal">Multichain indexer for ENS with ENS Subgraph backwards compatibility.</p>
    </div>
    <div class="w-full flex flex-col sm:flex-row flex-nowrap justify-center min-[800px]:justify-start items-center gap-8">
        <a
                href="/ensnode/"
                class="sm:hidden block"
        >
            <button class="cursor-pointer transition-all duration-200 bg-transparent hover:bg-black/5 button-as-child text-black text-base rounded-lg border-0 font-medium inline-flex gap-2 items-center whitespace-nowrap underline-none py-2 px-4">
                Documentation
            </button>
        </a>
        <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://admin.ensnode.io/"
                class="no-underline hover:no-underline"
        >
            <button class="button-as-child cursor-pointer transition-all duration-200 bg-black hover:bg-[#272727] flex flex-row flex-nowrap justify-center items-center gap-2 rounded-lg pl-2 pr-3 py-2 text-white whitespace-nowrap text-sm font-semibold leading-5">
                <ENSAdminLogoLight className="w-10 h-auto" />
                Connect with ENSAdmin
            </button>
        </a>
        <a
                href="/ensnode/"
                class="hidden sm:block"
        >
            <button class="h-[56px]  cursor-pointer transition-all duration-200 bg-transparent hover:bg-black/5 button-as-child text-black text-base rounded-lg border-0 font-medium inline-flex gap-2 items-center whitespace-nowrap underline-none py-2 px-4">
                Documentation
            </button>
        </a>
    </div>
</div>
