{
  "openapi": "3.1.0",
  "info": {
    "title": "ENSApi APIs",
    "version": "1.13.1",
    "description": "REST APIs for the ENSNode stack as served by the ENSApi service"
  },
  "servers": [
    { "url": "https://api.alpha.ensnode.io", "description": "ENSNode Alpha (Mainnet)" },
    {
      "url": "https://api.alpha-sepolia.ensnode.io",
      "description": "ENSNode Alpha (Sepolia Testnet)"
    }
  ],
  "tags": [
    { "name": "Resolution", "description": "APIs for resolving ENS names and addresses" },
    {
      "name": "Meta",
      "description": "APIs for indexing status, ENSNode stack info, and realtime monitoring"
    }
  ],
  "components": { "schemas": {}, "parameters": {} },
  "paths": {
    "/api/indexing-status": {
      "get": {
        "operationId": "getIndexingStatus",
        "tags": ["Meta"],
        "summary": "Get Indexing Status and Stack Info",
        "description": "Returns the latest indexing status snapshot and overall stack info about services in the ENSNode instance",
        "responses": {
          "200": {
            "description": "Successfully retrieved indexing status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "responseCode": { "type": "string", "enum": ["ok"] },
                    "realtimeProjection": {
                      "type": "object",
                      "properties": {
                        "snapshot": {
                          "type": "object",
                          "properties": {
                            "strategy": { "type": "string", "enum": ["omnichain"] },
                            "slowestChainIndexingCursor": { "type": "integer" },
                            "snapshotTime": { "type": "integer" },
                            "omnichainSnapshot": {
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "omnichainStatus": {
                                      "type": "string",
                                      "enum": ["omnichain-unstarted"]
                                    },
                                    "chains": {
                                      "type": "object",
                                      "additionalProperties": {
                                        "oneOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "chainStatus": {
                                                "type": "string",
                                                "enum": ["chain-queued"]
                                              },
                                              "config": {
                                                "oneOf": [
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "rangeType": {
                                                        "type": "string",
                                                        "enum": ["left-bounded"]
                                                      },
                                                      "startBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": { "type": "integer" },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "required": ["rangeType", "startBlock"]
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "rangeType": {
                                                        "type": "string",
                                                        "enum": ["bounded"]
                                                      },
                                                      "startBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": { "type": "integer" },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      },
                                                      "endBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": { "type": "integer" },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "required": [
                                                      "rangeType",
                                                      "startBlock",
                                                      "endBlock"
                                                    ]
                                                  }
                                                ]
                                              }
                                            },
                                            "required": ["chainStatus", "config"]
                                          }
                                        ]
                                      }
                                    },
                                    "omnichainIndexingCursor": { "type": "integer" }
                                  },
                                  "required": [
                                    "omnichainStatus",
                                    "chains",
                                    "omnichainIndexingCursor"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "omnichainStatus": {
                                      "type": "string",
                                      "enum": ["omnichain-backfill"]
                                    },
                                    "chains": {
                                      "type": "object",
                                      "additionalProperties": {
                                        "oneOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "chainStatus": {
                                                "type": "string",
                                                "enum": ["chain-queued"]
                                              },
                                              "config": {
                                                "oneOf": [
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "rangeType": {
                                                        "type": "string",
                                                        "enum": ["left-bounded"]
                                                      },
                                                      "startBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": { "type": "integer" },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "required": ["rangeType", "startBlock"]
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "rangeType": {
                                                        "type": "string",
                                                        "enum": ["bounded"]
                                                      },
                                                      "startBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": { "type": "integer" },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      },
                                                      "endBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": { "type": "integer" },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "required": [
                                                      "rangeType",
                                                      "startBlock",
                                                      "endBlock"
                                                    ]
                                                  }
                                                ]
                                              }
                                            },
                                            "required": ["chainStatus", "config"]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "chainStatus": {
                                                "type": "string",
                                                "enum": ["chain-backfill"]
                                              },
                                              "config": {
                                                "oneOf": [
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "rangeType": {
                                                        "type": "string",
                                                        "enum": ["left-bounded"]
                                                      },
                                                      "startBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": { "type": "integer" },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "required": ["rangeType", "startBlock"]
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "rangeType": {
                                                        "type": "string",
                                                        "enum": ["bounded"]
                                                      },
                                                      "startBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": { "type": "integer" },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      },
                                                      "endBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": { "type": "integer" },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "required": [
                                                      "rangeType",
                                                      "startBlock",
                                                      "endBlock"
                                                    ]
                                                  }
                                                ]
                                              },
                                              "latestIndexedBlock": {
                                                "type": "object",
                                                "properties": {
                                                  "timestamp": { "type": "integer" },
                                                  "number": { "type": "integer", "minimum": 0 }
                                                },
                                                "required": ["timestamp", "number"],
                                                "additionalProperties": false
                                              },
                                              "backfillEndBlock": {
                                                "type": "object",
                                                "properties": {
                                                  "timestamp": { "type": "integer" },
                                                  "number": { "type": "integer", "minimum": 0 }
                                                },
                                                "required": ["timestamp", "number"],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "chainStatus",
                                              "config",
                                              "latestIndexedBlock",
                                              "backfillEndBlock"
                                            ]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "chainStatus": {
                                                "type": "string",
                                                "enum": ["chain-completed"]
                                              },
                                              "config": {
                                                "type": "object",
                                                "properties": {
                                                  "rangeType": {
                                                    "type": "string",
                                                    "enum": ["bounded"]
                                                  },
                                                  "startBlock": {
                                                    "type": "object",
                                                    "properties": {
                                                      "timestamp": { "type": "integer" },
                                                      "number": { "type": "integer", "minimum": 0 }
                                                    },
                                                    "required": ["timestamp", "number"],
                                                    "additionalProperties": false
                                                  },
                                                  "endBlock": {
                                                    "type": "object",
                                                    "properties": {
                                                      "timestamp": { "type": "integer" },
                                                      "number": { "type": "integer", "minimum": 0 }
                                                    },
                                                    "required": ["timestamp", "number"],
                                                    "additionalProperties": false
                                                  }
                                                },
                                                "required": ["rangeType", "startBlock", "endBlock"]
                                              },
                                              "latestIndexedBlock": {
                                                "type": "object",
                                                "properties": {
                                                  "timestamp": { "type": "integer" },
                                                  "number": { "type": "integer", "minimum": 0 }
                                                },
                                                "required": ["timestamp", "number"],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "chainStatus",
                                              "config",
                                              "latestIndexedBlock"
                                            ]
                                          }
                                        ]
                                      }
                                    },
                                    "omnichainIndexingCursor": { "type": "integer" }
                                  },
                                  "required": [
                                    "omnichainStatus",
                                    "chains",
                                    "omnichainIndexingCursor"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "omnichainStatus": {
                                      "type": "string",
                                      "enum": ["omnichain-completed"]
                                    },
                                    "chains": {
                                      "type": "object",
                                      "additionalProperties": {
                                        "oneOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "chainStatus": {
                                                "type": "string",
                                                "enum": ["chain-completed"]
                                              },
                                              "config": {
                                                "type": "object",
                                                "properties": {
                                                  "rangeType": {
                                                    "type": "string",
                                                    "enum": ["bounded"]
                                                  },
                                                  "startBlock": {
                                                    "type": "object",
                                                    "properties": {
                                                      "timestamp": { "type": "integer" },
                                                      "number": { "type": "integer", "minimum": 0 }
                                                    },
                                                    "required": ["timestamp", "number"],
                                                    "additionalProperties": false
                                                  },
                                                  "endBlock": {
                                                    "type": "object",
                                                    "properties": {
                                                      "timestamp": { "type": "integer" },
                                                      "number": { "type": "integer", "minimum": 0 }
                                                    },
                                                    "required": ["timestamp", "number"],
                                                    "additionalProperties": false
                                                  }
                                                },
                                                "required": ["rangeType", "startBlock", "endBlock"]
                                              },
                                              "latestIndexedBlock": {
                                                "type": "object",
                                                "properties": {
                                                  "timestamp": { "type": "integer" },
                                                  "number": { "type": "integer", "minimum": 0 }
                                                },
                                                "required": ["timestamp", "number"],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "chainStatus",
                                              "config",
                                              "latestIndexedBlock"
                                            ]
                                          }
                                        ]
                                      }
                                    },
                                    "omnichainIndexingCursor": { "type": "integer" }
                                  },
                                  "required": [
                                    "omnichainStatus",
                                    "chains",
                                    "omnichainIndexingCursor"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "omnichainStatus": {
                                      "type": "string",
                                      "enum": ["omnichain-following"]
                                    },
                                    "chains": {
                                      "type": "object",
                                      "additionalProperties": {
                                        "oneOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "chainStatus": {
                                                "type": "string",
                                                "enum": ["chain-queued"]
                                              },
                                              "config": {
                                                "oneOf": [
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "rangeType": {
                                                        "type": "string",
                                                        "enum": ["left-bounded"]
                                                      },
                                                      "startBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": { "type": "integer" },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "required": ["rangeType", "startBlock"]
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "rangeType": {
                                                        "type": "string",
                                                        "enum": ["bounded"]
                                                      },
                                                      "startBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": { "type": "integer" },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      },
                                                      "endBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": { "type": "integer" },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "required": [
                                                      "rangeType",
                                                      "startBlock",
                                                      "endBlock"
                                                    ]
                                                  }
                                                ]
                                              }
                                            },
                                            "required": ["chainStatus", "config"]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "chainStatus": {
                                                "type": "string",
                                                "enum": ["chain-backfill"]
                                              },
                                              "config": {
                                                "oneOf": [
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "rangeType": {
                                                        "type": "string",
                                                        "enum": ["left-bounded"]
                                                      },
                                                      "startBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": { "type": "integer" },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "required": ["rangeType", "startBlock"]
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "rangeType": {
                                                        "type": "string",
                                                        "enum": ["bounded"]
                                                      },
                                                      "startBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": { "type": "integer" },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      },
                                                      "endBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": { "type": "integer" },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "required": [
                                                      "rangeType",
                                                      "startBlock",
                                                      "endBlock"
                                                    ]
                                                  }
                                                ]
                                              },
                                              "latestIndexedBlock": {
                                                "type": "object",
                                                "properties": {
                                                  "timestamp": { "type": "integer" },
                                                  "number": { "type": "integer", "minimum": 0 }
                                                },
                                                "required": ["timestamp", "number"],
                                                "additionalProperties": false
                                              },
                                              "backfillEndBlock": {
                                                "type": "object",
                                                "properties": {
                                                  "timestamp": { "type": "integer" },
                                                  "number": { "type": "integer", "minimum": 0 }
                                                },
                                                "required": ["timestamp", "number"],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "chainStatus",
                                              "config",
                                              "latestIndexedBlock",
                                              "backfillEndBlock"
                                            ]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "chainStatus": {
                                                "type": "string",
                                                "enum": ["chain-following"]
                                              },
                                              "config": {
                                                "type": "object",
                                                "properties": {
                                                  "rangeType": {
                                                    "type": "string",
                                                    "enum": ["left-bounded"]
                                                  },
                                                  "startBlock": {
                                                    "type": "object",
                                                    "properties": {
                                                      "timestamp": { "type": "integer" },
                                                      "number": { "type": "integer", "minimum": 0 }
                                                    },
                                                    "required": ["timestamp", "number"],
                                                    "additionalProperties": false
                                                  }
                                                },
                                                "required": ["rangeType", "startBlock"]
                                              },
                                              "latestIndexedBlock": {
                                                "type": "object",
                                                "properties": {
                                                  "timestamp": { "type": "integer" },
                                                  "number": { "type": "integer", "minimum": 0 }
                                                },
                                                "required": ["timestamp", "number"],
                                                "additionalProperties": false
                                              },
                                              "latestKnownBlock": {
                                                "type": "object",
                                                "properties": {
                                                  "timestamp": { "type": "integer" },
                                                  "number": { "type": "integer", "minimum": 0 }
                                                },
                                                "required": ["timestamp", "number"],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "chainStatus",
                                              "config",
                                              "latestIndexedBlock",
                                              "latestKnownBlock"
                                            ]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "chainStatus": {
                                                "type": "string",
                                                "enum": ["chain-completed"]
                                              },
                                              "config": {
                                                "type": "object",
                                                "properties": {
                                                  "rangeType": {
                                                    "type": "string",
                                                    "enum": ["bounded"]
                                                  },
                                                  "startBlock": {
                                                    "type": "object",
                                                    "properties": {
                                                      "timestamp": { "type": "integer" },
                                                      "number": { "type": "integer", "minimum": 0 }
                                                    },
                                                    "required": ["timestamp", "number"],
                                                    "additionalProperties": false
                                                  },
                                                  "endBlock": {
                                                    "type": "object",
                                                    "properties": {
                                                      "timestamp": { "type": "integer" },
                                                      "number": { "type": "integer", "minimum": 0 }
                                                    },
                                                    "required": ["timestamp", "number"],
                                                    "additionalProperties": false
                                                  }
                                                },
                                                "required": ["rangeType", "startBlock", "endBlock"]
                                              },
                                              "latestIndexedBlock": {
                                                "type": "object",
                                                "properties": {
                                                  "timestamp": { "type": "integer" },
                                                  "number": { "type": "integer", "minimum": 0 }
                                                },
                                                "required": ["timestamp", "number"],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "chainStatus",
                                              "config",
                                              "latestIndexedBlock"
                                            ]
                                          }
                                        ]
                                      }
                                    },
                                    "omnichainIndexingCursor": { "type": "integer" }
                                  },
                                  "required": [
                                    "omnichainStatus",
                                    "chains",
                                    "omnichainIndexingCursor"
                                  ]
                                }
                              ]
                            }
                          },
                          "required": [
                            "strategy",
                            "slowestChainIndexingCursor",
                            "snapshotTime",
                            "omnichainSnapshot"
                          ]
                        },
                        "projectedAt": { "type": "integer" },
                        "worstCaseDistance": { "type": "number" }
                      },
                      "required": ["snapshot", "projectedAt", "worstCaseDistance"]
                    },
                    "stackInfo": {
                      "type": "object",
                      "properties": {
                        "ensDb": {
                          "type": "object",
                          "properties": {
                            "versionInfo": {
                              "type": "object",
                              "properties": {
                                "postgresql": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "Version of the PostgreSQL server hosting the ENSDb instance."
                                }
                              },
                              "required": ["postgresql"]
                            }
                          },
                          "required": ["versionInfo"]
                        },
                        "ensIndexer": {
                          "type": "object",
                          "properties": {
                            "ensIndexerSchemaName": { "type": "string", "minLength": 1 },
                            "ensRainbowPublicConfig": {
                              "type": "object",
                              "properties": {
                                "serverLabelSet": {
                                  "type": "object",
                                  "properties": {
                                    "labelSetId": {
                                      "type": "string",
                                      "minLength": 1,
                                      "maxLength": 50,
                                      "pattern": "^[a-z-]+$"
                                    },
                                    "highestLabelSetVersion": { "type": "integer", "minimum": 0 }
                                  },
                                  "required": ["labelSetId", "highestLabelSetVersion"]
                                },
                                "versionInfo": {
                                  "type": "object",
                                  "properties": {
                                    "ensRainbow": { "type": "string", "minLength": 1 }
                                  },
                                  "required": ["ensRainbow"]
                                }
                              },
                              "required": ["serverLabelSet", "versionInfo"]
                            },
                            "indexedChainIds": {
                              "type": "array",
                              "items": { "type": "integer", "exclusiveMinimum": 0 },
                              "minItems": 1
                            },
                            "isSubgraphCompatible": { "type": "boolean" },
                            "clientLabelSet": {
                              "type": "object",
                              "properties": {
                                "labelSetId": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 50,
                                  "pattern": "^[a-z-]+$"
                                },
                                "labelSetVersion": { "type": ["number", "null"] }
                              },
                              "required": ["labelSetId", "labelSetVersion"]
                            },
                            "namespace": {
                              "type": "string",
                              "enum": ["mainnet", "sepolia", "sepolia-v2", "ens-test-env"]
                            },
                            "plugins": {
                              "type": "array",
                              "items": { "type": "string" },
                              "minItems": 1
                            },
                            "versionInfo": {
                              "type": "object",
                              "properties": {
                                "ponder": { "type": "string", "minLength": 1 },
                                "ensDb": { "type": "string", "minLength": 1 },
                                "ensIndexer": { "type": "string", "minLength": 1 },
                                "ensNormalize": { "type": "string", "minLength": 1 }
                              },
                              "required": ["ponder", "ensDb", "ensIndexer", "ensNormalize"]
                            }
                          },
                          "required": [
                            "ensIndexerSchemaName",
                            "ensRainbowPublicConfig",
                            "indexedChainIds",
                            "isSubgraphCompatible",
                            "clientLabelSet",
                            "namespace",
                            "plugins",
                            "versionInfo"
                          ]
                        },
                        "ensRainbow": {
                          "type": "object",
                          "properties": {
                            "serverLabelSet": {
                              "type": "object",
                              "properties": {
                                "labelSetId": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 50,
                                  "pattern": "^[a-z-]+$"
                                },
                                "highestLabelSetVersion": { "type": "integer", "minimum": 0 }
                              },
                              "required": ["labelSetId", "highestLabelSetVersion"]
                            },
                            "versionInfo": {
                              "type": "object",
                              "properties": { "ensRainbow": { "type": "string", "minLength": 1 } },
                              "required": ["ensRainbow"]
                            }
                          },
                          "required": ["serverLabelSet", "versionInfo"]
                        },
                        "ensApi": {
                          "type": "object",
                          "properties": {
                            "ensIndexerPublicConfig": {
                              "type": "object",
                              "properties": {
                                "ensIndexerSchemaName": { "type": "string", "minLength": 1 },
                                "ensRainbowPublicConfig": {
                                  "type": "object",
                                  "properties": {
                                    "serverLabelSet": {
                                      "type": "object",
                                      "properties": {
                                        "labelSetId": {
                                          "type": "string",
                                          "minLength": 1,
                                          "maxLength": 50,
                                          "pattern": "^[a-z-]+$"
                                        },
                                        "highestLabelSetVersion": {
                                          "type": "integer",
                                          "minimum": 0
                                        }
                                      },
                                      "required": ["labelSetId", "highestLabelSetVersion"]
                                    },
                                    "versionInfo": {
                                      "type": "object",
                                      "properties": {
                                        "ensRainbow": { "type": "string", "minLength": 1 }
                                      },
                                      "required": ["ensRainbow"]
                                    }
                                  },
                                  "required": ["serverLabelSet", "versionInfo"]
                                },
                                "indexedChainIds": {
                                  "type": "array",
                                  "items": { "type": "integer", "exclusiveMinimum": 0 },
                                  "minItems": 1
                                },
                                "isSubgraphCompatible": { "type": "boolean" },
                                "clientLabelSet": {
                                  "type": "object",
                                  "properties": {
                                    "labelSetId": {
                                      "type": "string",
                                      "minLength": 1,
                                      "maxLength": 50,
                                      "pattern": "^[a-z-]+$"
                                    },
                                    "labelSetVersion": { "type": ["number", "null"] }
                                  },
                                  "required": ["labelSetId", "labelSetVersion"]
                                },
                                "namespace": {
                                  "type": "string",
                                  "enum": ["mainnet", "sepolia", "sepolia-v2", "ens-test-env"]
                                },
                                "plugins": {
                                  "type": "array",
                                  "items": { "type": "string" },
                                  "minItems": 1
                                },
                                "versionInfo": {
                                  "type": "object",
                                  "properties": {
                                    "ponder": { "type": "string", "minLength": 1 },
                                    "ensDb": { "type": "string", "minLength": 1 },
                                    "ensIndexer": { "type": "string", "minLength": 1 },
                                    "ensNormalize": { "type": "string", "minLength": 1 }
                                  },
                                  "required": ["ponder", "ensDb", "ensIndexer", "ensNormalize"]
                                }
                              },
                              "required": [
                                "ensIndexerSchemaName",
                                "ensRainbowPublicConfig",
                                "indexedChainIds",
                                "isSubgraphCompatible",
                                "clientLabelSet",
                                "namespace",
                                "plugins",
                                "versionInfo"
                              ]
                            },
                            "theGraphFallback": {
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "canFallback": { "type": "boolean", "enum": [true] },
                                    "url": { "type": "string" }
                                  },
                                  "required": ["canFallback", "url"],
                                  "additionalProperties": false
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "canFallback": { "type": "boolean", "enum": [false] },
                                    "reason": {
                                      "type": "string",
                                      "enum": [
                                        "not-subgraph-compatible",
                                        "no-api-key",
                                        "no-subgraph-url"
                                      ]
                                    }
                                  },
                                  "required": ["canFallback", "reason"],
                                  "additionalProperties": false
                                }
                              ]
                            },
                            "versionInfo": {
                              "type": "object",
                              "properties": {
                                "ensApi": { "type": "string", "minLength": 1 },
                                "ensNormalize": { "type": "string", "minLength": 1 }
                              },
                              "required": ["ensApi", "ensNormalize"]
                            }
                          },
                          "required": ["ensIndexerPublicConfig", "theGraphFallback", "versionInfo"]
                        }
                      },
                      "required": ["ensDb", "ensIndexer", "ensRainbow", "ensApi"]
                    }
                  },
                  "required": ["responseCode", "realtimeProjection", "stackInfo"]
                }
              }
            }
          },
          "503": {
            "description": "Indexing status snapshot unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "responseCode": { "type": "string", "enum": ["error"] } },
                  "required": ["responseCode"],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/realtime": {
      "get": {
        "operationId": "getRealtime",
        "tags": ["Meta"],
        "summary": "Check realtime indexing status",
        "description": "Checks if the indexing status is guaranteed to be within a requested worst-case distance of realtime. Note that this is a worst-case distance check. This operation uses the latest cached indexing status snapshot to determine worst-case distance. The true indexing status is generally ahead of the worst-case distance",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Maximum acceptable worst-case indexing distance in seconds"
            },
            "required": false,
            "description": "Maximum acceptable worst-case indexing distance in seconds",
            "name": "maxWorstCaseDistance",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Indexing progress is guaranteed to be within the requested distance of realtime"
          },
          "503": {
            "description": "Indexing progress is not guaranteed to be within the requested distance of realtime or indexing status unavailable"
          }
        }
      }
    },
    "/api/resolve/records/{name}": {
      "get": {
        "operationId": "resolveRecords",
        "tags": ["Resolution"],
        "summary": "Resolve ENS Records",
        "description": "Resolves ENS records for a given name",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "ENS name to resolve (e.g. 'vitalik.eth'). Must be normalized per ENSIP-15."
            },
            "required": true,
            "description": "ENS name to resolve (e.g. 'vitalik.eth'). Must be normalized per ENSIP-15.",
            "name": "name",
            "in": "path"
          },
          { "schema": { "type": "boolean" }, "required": false, "name": "name", "in": "query" },
          { "schema": { "type": "string" }, "required": false, "name": "addresses", "in": "query" },
          { "schema": { "type": "string" }, "required": false, "name": "texts", "in": "query" },
          {
            "schema": { "type": "boolean" },
            "required": false,
            "name": "contenthash",
            "in": "query"
          },
          { "schema": { "type": "boolean" }, "required": false, "name": "pubkey", "in": "query" },
          {
            "schema": { "type": "boolean" },
            "required": false,
            "name": "dnszonehash",
            "in": "query"
          },
          { "schema": { "type": "boolean" }, "required": false, "name": "version", "in": "query" },
          {
            "schema": { "type": "string", "example": "1" },
            "required": false,
            "name": "abi",
            "in": "query"
          },
          {
            "schema": { "type": "string" },
            "required": false,
            "name": "interfaces",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "description": "Include detailed OpenTelemetry trace information about the resolution in the response.",
              "default": false
            },
            "required": false,
            "description": "Include detailed OpenTelemetry trace information about the resolution in the response.",
            "name": "trace",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "description": "Attempt Protocol Acceleration using indexed data.",
              "default": false
            },
            "required": false,
            "description": "Attempt Protocol Acceleration using indexed data.",
            "name": "accelerate",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully resolved records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "object",
                      "properties": {
                        "name": { "type": ["string", "null"] },
                        "addresses": {
                          "type": "object",
                          "additionalProperties": { "type": ["string", "null"] }
                        },
                        "texts": {
                          "type": "object",
                          "additionalProperties": { "type": ["string", "null"] }
                        },
                        "contenthash": { "type": ["string", "null"] },
                        "pubkey": {
                          "type": ["object", "null"],
                          "properties": { "x": { "type": "string" }, "y": { "type": "string" } },
                          "required": ["x", "y"]
                        },
                        "dnszonehash": { "type": ["string", "null"] },
                        "version": { "type": ["string", "null"] },
                        "abi": {
                          "type": ["object", "null"],
                          "properties": {
                            "contentType": { "type": "string" },
                            "data": { "type": "string" }
                          },
                          "required": ["contentType", "data"]
                        },
                        "interfaces": {
                          "type": "object",
                          "additionalProperties": { "type": ["string", "null"] }
                        }
                      }
                    },
                    "accelerationRequested": { "type": "boolean" },
                    "accelerationAttempted": { "type": "boolean" },
                    "trace": { "type": "array", "items": {} }
                  },
                  "required": ["records", "accelerationRequested", "accelerationAttempted"],
                  "example": {
                    "records": {
                      "addresses": { "60": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045" },
                      "texts": { "description": "mi pinxe lo crino tcati" }
                    },
                    "accelerationRequested": false,
                    "accelerationAttempted": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid name or query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "message": { "type": "string" }, "details": {} },
                  "required": ["message"],
                  "example": {
                    "message": "Invalid Input",
                    "details": {
                      "errors": [],
                      "properties": {
                        "name": {
                          "errors": [
                            "Must be normalized, see https://docs.ens.domains/resolution/names/"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "message": { "type": "string" }, "details": {} },
                  "required": ["message"],
                  "example": { "message": "Internal Server Error" }
                }
              }
            }
          }
        }
      }
    },
    "/api/resolve/primary-name/{address}/{chainId}": {
      "get": {
        "operationId": "resolvePrimaryName",
        "tags": ["Resolution"],
        "summary": "Resolve Primary Name",
        "description": "Resolves a primary name for a given `address` and `chainId`",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "EVM wallet address (e.g. '0xd8da6bf26964af9d7eed9e03e53415d37aa96045')."
            },
            "required": true,
            "description": "EVM wallet address (e.g. '0xd8da6bf26964af9d7eed9e03e53415d37aa96045').",
            "name": "address",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Chain ID as a string (e.g. '1' for Ethereum mainnet). Use '0' for the default EVM chain."
            },
            "required": true,
            "description": "Chain ID as a string (e.g. '1' for Ethereum mainnet). Use '0' for the default EVM chain.",
            "name": "chainId",
            "in": "path"
          },
          {
            "schema": {
              "type": "boolean",
              "description": "Include detailed OpenTelemetry trace information about the resolution in the response.",
              "default": false
            },
            "required": false,
            "description": "Include detailed OpenTelemetry trace information about the resolution in the response.",
            "name": "trace",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "description": "Attempt Protocol Acceleration using indexed data.",
              "default": false
            },
            "required": false,
            "description": "Attempt Protocol Acceleration using indexed data.",
            "name": "accelerate",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully resolved name",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": { "type": ["string", "null"] },
                    "accelerationRequested": { "type": "boolean" },
                    "accelerationAttempted": { "type": "boolean" },
                    "trace": { "type": "array", "items": {} }
                  },
                  "required": ["name", "accelerationRequested", "accelerationAttempted"],
                  "example": {
                    "name": "jesse.base.eth",
                    "accelerationRequested": false,
                    "accelerationAttempted": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid address or chain ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "message": { "type": "string" }, "details": {} },
                  "required": ["message"],
                  "example": {
                    "message": "Invalid Input",
                    "details": {
                      "errors": [],
                      "properties": {
                        "address": { "errors": ["EVM address must be a valid EVM address"] }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "message": { "type": "string" }, "details": {} },
                  "required": ["message"],
                  "example": { "message": "Internal Server Error" }
                }
              }
            }
          }
        }
      }
    },
    "/api/resolve/primary-names/{address}": {
      "get": {
        "operationId": "resolvePrimaryNames",
        "tags": ["Resolution"],
        "summary": "Resolve Primary Names",
        "description": "Resolves all primary names for a given address across multiple chains",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "EVM wallet address (e.g. '0xd8da6bf26964af9d7eed9e03e53415d37aa96045')."
            },
            "required": true,
            "description": "EVM wallet address (e.g. '0xd8da6bf26964af9d7eed9e03e53415d37aa96045').",
            "name": "address",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Comma-separated list of chain IDs to resolve primary names for (e.g. '1,10,8453')."
            },
            "required": false,
            "description": "Comma-separated list of chain IDs to resolve primary names for (e.g. '1,10,8453').",
            "name": "chainIds",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "description": "Include detailed OpenTelemetry trace information about the resolution in the response.",
              "default": false
            },
            "required": false,
            "description": "Include detailed OpenTelemetry trace information about the resolution in the response.",
            "name": "trace",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "description": "Attempt Protocol Acceleration using indexed data.",
              "default": false
            },
            "required": false,
            "description": "Attempt Protocol Acceleration using indexed data.",
            "name": "accelerate",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully resolved records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "names": {
                      "type": "object",
                      "additionalProperties": { "type": ["string", "null"] }
                    },
                    "accelerationRequested": { "type": "boolean" },
                    "accelerationAttempted": { "type": "boolean" },
                    "trace": { "type": "array", "items": {} }
                  },
                  "required": ["names", "accelerationRequested", "accelerationAttempted"],
                  "example": {
                    "names": {
                      "1": "jesse.base.eth",
                      "10": null,
                      "8453": "jesse.base.eth",
                      "42161": null,
                      "59144": null,
                      "534352": null
                    },
                    "accelerationRequested": false,
                    "accelerationAttempted": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid address or chain IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "message": { "type": "string" }, "details": {} },
                  "required": ["message"],
                  "example": {
                    "message": "Invalid Input",
                    "details": {
                      "errors": [],
                      "properties": {
                        "address": { "errors": ["EVM address must be a valid EVM address"] }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "message": { "type": "string" }, "details": {} },
                  "required": ["message"],
                  "example": { "message": "Internal Server Error" }
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "getHealthCheck",
        "tags": ["Meta"],
        "summary": "Health Check Endpoint",
        "description": "Checks the health status of the ENSApi service",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "responseCode": { "type": "string", "enum": ["ok"] } },
                  "required": ["responseCode"]
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "responseCode": { "type": "string", "enum": ["error"] },
                    "message": { "type": "string" }
                  },
                  "required": ["responseCode", "message"]
                }
              }
            }
          }
        }
      }
    },
    "/ready": {
      "get": {
        "operationId": "getReadinessCheck",
        "tags": ["Meta"],
        "summary": "Readiness Check Endpoint",
        "description": "Checks the readiness status of the ENSApi service",
        "responses": {
          "200": {
            "description": "Service is ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "responseCode": { "type": "string", "enum": ["ok"] } },
                  "required": ["responseCode"]
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "responseCode": { "type": "string", "enum": ["error"] },
                    "message": { "type": "string" }
                  },
                  "required": ["responseCode", "message"]
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}
