---
import cc from "classcat";
import ensnode_video from "/ensnode_video.mp4";
import video_thumbnail from "../../assets/background_video_thumbnail_compressed.png";
import SecondaryButtonIsland from "../atoms/SecondaryButtonIsland";

const flexStyles =
  "flex flex-col flex-nowrap justify-center items-center sm:items-start text-center sm:text-left";
const namehashS2ProposalYoutube = "https://www.youtube.com/embed/g88tCK5TECU?si=5RLwiBjGGEm7smSO";
---

<section class="relative bottom-20 not-content w-full h-fit px-5 sm:px-28 flex flex-col items-center self-stretch">
    <div class="w-full h-full box-border max-w-[1216px] flex flex-col sm:flex-row flex-nowrap justify-center items-center gap-10 rounded-[20px] bg-[#F9FAFB] p-5 sm:p-10">
        <div class={cc([flexStyles, "gap-6"])}>
            <div class={cc([flexStyles, "gap-4 sm:gap-5 self-stretch"])}>
                <h3 class="text-gray-500 text-base leading-6 font-medium">OUR PROPOSAL</h3>
                <h1 class="self-stretch text-black text-3xl sm:text-4xl leading-9 sm:leading-10 font-bold">Why it's important for ENS?</h1>
                <p class="text-gray-500 text-lg leading-8 font-normal">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <SecondaryButtonIsland text="Learn more" size="medium" style=`px-[25px] py-[13px] max-sm:w-full max-sm:flex max-sm:justify-center`
                                   linkData={{target: "_blank", link: "https://ensnode.io/"}}/>
        </div>
        <iframe
                class="w-[295px] sm:w-[520px] h-[193px] sm:h-[340px] shrink-0 rounded-[20px] object-cover"
                src={namehashS2ProposalYoutube}
                title="NameHash Labs Season 2 Proposal"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen />
    </div>
</section>
