{
  "openapi": "3.1.0",
  "info": {
    "title": "ENSApi APIs",
    "description": "APIs for ENS resolution, navigating the ENS nameforest, and metadata about an ENSNode",
    "version": "1.5.1"
  },
  "servers": [
    {
      "url": "https://api.alpha.ensnode.io",
      "description": "ENSNode Alpha (Mainnet)"
    },
    {
      "url": "https://api.alpha-sepolia.ensnode.io",
      "description": "ENSNode Alpha (Sepolia Testnet)"
    },
    {
      "url": "http://localhost:4334",
      "description": "Local Development"
    }
  ],
  "tags": [
    {
      "name": "Resolution",
      "description": "APIs for resolving ENS names and addresses"
    },
    {
      "name": "Meta",
      "description": "APIs for indexing status, configuration, and realtime monitoring"
    },
    {
      "name": "Explore",
      "description": "APIs for exploring the indexed state of ENS, including name tokens and registrar actions"
    },
    {
      "name": "ENSAwards",
      "description": "APIs for ENSAwards functionality, including referrer data"
    }
  ],
  "paths": {
    "/api/config": {
      "get": {
        "operationId": "getApiConfig",
        "tags": ["Meta"],
        "summary": "Get ENSApi Public Config",
        "description": "Gets the public config of the ENSApi instance",
        "responses": {
          "200": {
            "description": "Successfully retrieved ENSApi public config",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string",
                      "minLength": 1
                    },
                    "theGraphFallback": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "canFallback": {
                              "type": "boolean",
                              "const": true
                            },
                            "url": {
                              "type": "string"
                            }
                          },
                          "required": ["canFallback", "url"],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "canFallback": {
                              "type": "boolean",
                              "const": false
                            },
                            "reason": {
                              "type": "string",
                              "enum": ["not-subgraph-compatible", "no-api-key", "no-subgraph-url"]
                            }
                          },
                          "required": ["canFallback", "reason"],
                          "additionalProperties": false
                        }
                      ]
                    },
                    "ensIndexerPublicConfig": {
                      "type": "object",
                      "properties": {
                        "labelSet": {
                          "type": "object",
                          "properties": {
                            "labelSetId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 50,
                              "pattern": "^[a-z-]+$"
                            },
                            "labelSetVersion": {
                              "type": "number"
                            }
                          },
                          "required": ["labelSetId", "labelSetVersion"]
                        },
                        "indexedChainIds": {
                          "minItems": 1,
                          "type": "array",
                          "items": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "maximum": 9007199254740991
                          }
                        },
                        "isSubgraphCompatible": {
                          "type": "boolean"
                        },
                        "namespace": {
                          "type": "string",
                          "enum": ["mainnet", "sepolia", "ens-test-env"]
                        },
                        "plugins": {
                          "minItems": 1,
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "databaseSchemaName": {
                          "type": "string",
                          "minLength": 1
                        },
                        "versionInfo": {
                          "type": "object",
                          "properties": {
                            "nodejs": {
                              "type": "string",
                              "minLength": 1
                            },
                            "ponder": {
                              "type": "string",
                              "minLength": 1
                            },
                            "ensDb": {
                              "type": "string",
                              "minLength": 1
                            },
                            "ensIndexer": {
                              "type": "string",
                              "minLength": 1
                            },
                            "ensNormalize": {
                              "type": "string",
                              "minLength": 1
                            },
                            "ensRainbow": {
                              "type": "string",
                              "minLength": 1
                            },
                            "ensRainbowSchema": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 9007199254740991
                            }
                          },
                          "required": [
                            "nodejs",
                            "ponder",
                            "ensDb",
                            "ensIndexer",
                            "ensNormalize",
                            "ensRainbow",
                            "ensRainbowSchema"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "labelSet",
                        "indexedChainIds",
                        "isSubgraphCompatible",
                        "namespace",
                        "plugins",
                        "databaseSchemaName",
                        "versionInfo"
                      ]
                    }
                  },
                  "required": ["version", "theGraphFallback", "ensIndexerPublicConfig"],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/indexing-status": {
      "get": {
        "operationId": "getApiIndexing-status",
        "tags": ["Meta"],
        "summary": "Get ENSIndexer Indexing Status",
        "description": "Returns the indexing status snapshot most recently captured from ENSIndexer",
        "responses": {
          "200": {
            "description": "Successfully retrieved indexing status",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "responseCode": {
                          "type": "string",
                          "const": "ok"
                        },
                        "realtimeProjection": {
                          "type": "object",
                          "properties": {
                            "projectedAt": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "worstCaseDistance": {
                              "type": "number"
                            },
                            "snapshot": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "strategy": {
                                      "type": "string",
                                      "const": "omnichain"
                                    },
                                    "slowestChainIndexingCursor": {
                                      "type": "integer",
                                      "minimum": -9007199254740991,
                                      "maximum": 9007199254740991
                                    },
                                    "snapshotTime": {
                                      "type": "integer",
                                      "minimum": -9007199254740991,
                                      "maximum": 9007199254740991
                                    },
                                    "omnichainSnapshot": {
                                      "anyOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "omnichainStatus": {
                                              "type": "string",
                                              "const": "omnichain-unstarted"
                                            },
                                            "chains": {
                                              "type": "object",
                                              "propertyNames": {
                                                "type": "string"
                                              },
                                              "additionalProperties": {
                                                "anyOf": [
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "chainStatus": {
                                                        "type": "string",
                                                        "const": "chain-queued"
                                                      },
                                                      "config": {
                                                        "anyOf": [
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "configType": {
                                                                "type": "string",
                                                                "const": "indefinite"
                                                              },
                                                              "startBlock": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "timestamp": {
                                                                    "type": "integer",
                                                                    "minimum": -9007199254740991,
                                                                    "maximum": 9007199254740991
                                                                  },
                                                                  "number": {
                                                                    "type": "integer",
                                                                    "minimum": 0,
                                                                    "maximum": 9007199254740991
                                                                  }
                                                                },
                                                                "required": ["timestamp", "number"],
                                                                "additionalProperties": false
                                                              }
                                                            },
                                                            "required": [
                                                              "configType",
                                                              "startBlock"
                                                            ],
                                                            "additionalProperties": false
                                                          },
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "configType": {
                                                                "type": "string",
                                                                "const": "definite"
                                                              },
                                                              "startBlock": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "timestamp": {
                                                                    "type": "integer",
                                                                    "minimum": -9007199254740991,
                                                                    "maximum": 9007199254740991
                                                                  },
                                                                  "number": {
                                                                    "type": "integer",
                                                                    "minimum": 0,
                                                                    "maximum": 9007199254740991
                                                                  }
                                                                },
                                                                "required": ["timestamp", "number"],
                                                                "additionalProperties": false
                                                              },
                                                              "endBlock": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "timestamp": {
                                                                    "type": "integer",
                                                                    "minimum": -9007199254740991,
                                                                    "maximum": 9007199254740991
                                                                  },
                                                                  "number": {
                                                                    "type": "integer",
                                                                    "minimum": 0,
                                                                    "maximum": 9007199254740991
                                                                  }
                                                                },
                                                                "required": ["timestamp", "number"],
                                                                "additionalProperties": false
                                                              }
                                                            },
                                                            "required": [
                                                              "configType",
                                                              "startBlock",
                                                              "endBlock"
                                                            ],
                                                            "additionalProperties": false
                                                          }
                                                        ]
                                                      }
                                                    },
                                                    "required": ["chainStatus", "config"],
                                                    "additionalProperties": false
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "chainStatus": {
                                                        "type": "string",
                                                        "const": "chain-backfill"
                                                      },
                                                      "config": {
                                                        "anyOf": [
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "configType": {
                                                                "type": "string",
                                                                "const": "indefinite"
                                                              },
                                                              "startBlock": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "timestamp": {
                                                                    "type": "integer",
                                                                    "minimum": -9007199254740991,
                                                                    "maximum": 9007199254740991
                                                                  },
                                                                  "number": {
                                                                    "type": "integer",
                                                                    "minimum": 0,
                                                                    "maximum": 9007199254740991
                                                                  }
                                                                },
                                                                "required": ["timestamp", "number"],
                                                                "additionalProperties": false
                                                              }
                                                            },
                                                            "required": [
                                                              "configType",
                                                              "startBlock"
                                                            ],
                                                            "additionalProperties": false
                                                          },
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "configType": {
                                                                "type": "string",
                                                                "const": "definite"
                                                              },
                                                              "startBlock": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "timestamp": {
                                                                    "type": "integer",
                                                                    "minimum": -9007199254740991,
                                                                    "maximum": 9007199254740991
                                                                  },
                                                                  "number": {
                                                                    "type": "integer",
                                                                    "minimum": 0,
                                                                    "maximum": 9007199254740991
                                                                  }
                                                                },
                                                                "required": ["timestamp", "number"],
                                                                "additionalProperties": false
                                                              },
                                                              "endBlock": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "timestamp": {
                                                                    "type": "integer",
                                                                    "minimum": -9007199254740991,
                                                                    "maximum": 9007199254740991
                                                                  },
                                                                  "number": {
                                                                    "type": "integer",
                                                                    "minimum": 0,
                                                                    "maximum": 9007199254740991
                                                                  }
                                                                },
                                                                "required": ["timestamp", "number"],
                                                                "additionalProperties": false
                                                              }
                                                            },
                                                            "required": [
                                                              "configType",
                                                              "startBlock",
                                                              "endBlock"
                                                            ],
                                                            "additionalProperties": false
                                                          }
                                                        ]
                                                      },
                                                      "latestIndexedBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": {
                                                            "type": "integer",
                                                            "minimum": -9007199254740991,
                                                            "maximum": 9007199254740991
                                                          },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0,
                                                            "maximum": 9007199254740991
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      },
                                                      "backfillEndBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": {
                                                            "type": "integer",
                                                            "minimum": -9007199254740991,
                                                            "maximum": 9007199254740991
                                                          },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0,
                                                            "maximum": 9007199254740991
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "required": [
                                                      "chainStatus",
                                                      "config",
                                                      "latestIndexedBlock",
                                                      "backfillEndBlock"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "chainStatus": {
                                                        "type": "string",
                                                        "const": "chain-completed"
                                                      },
                                                      "config": {
                                                        "type": "object",
                                                        "properties": {
                                                          "configType": {
                                                            "type": "string",
                                                            "const": "definite"
                                                          },
                                                          "startBlock": {
                                                            "type": "object",
                                                            "properties": {
                                                              "timestamp": {
                                                                "type": "integer",
                                                                "minimum": -9007199254740991,
                                                                "maximum": 9007199254740991
                                                              },
                                                              "number": {
                                                                "type": "integer",
                                                                "minimum": 0,
                                                                "maximum": 9007199254740991
                                                              }
                                                            },
                                                            "required": ["timestamp", "number"],
                                                            "additionalProperties": false
                                                          },
                                                          "endBlock": {
                                                            "type": "object",
                                                            "properties": {
                                                              "timestamp": {
                                                                "type": "integer",
                                                                "minimum": -9007199254740991,
                                                                "maximum": 9007199254740991
                                                              },
                                                              "number": {
                                                                "type": "integer",
                                                                "minimum": 0,
                                                                "maximum": 9007199254740991
                                                              }
                                                            },
                                                            "required": ["timestamp", "number"],
                                                            "additionalProperties": false
                                                          }
                                                        },
                                                        "required": [
                                                          "configType",
                                                          "startBlock",
                                                          "endBlock"
                                                        ],
                                                        "additionalProperties": false
                                                      },
                                                      "latestIndexedBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": {
                                                            "type": "integer",
                                                            "minimum": -9007199254740991,
                                                            "maximum": 9007199254740991
                                                          },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0,
                                                            "maximum": 9007199254740991
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "required": [
                                                      "chainStatus",
                                                      "config",
                                                      "latestIndexedBlock"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "chainStatus": {
                                                        "type": "string",
                                                        "const": "chain-following"
                                                      },
                                                      "config": {
                                                        "type": "object",
                                                        "properties": {
                                                          "configType": {
                                                            "type": "string",
                                                            "const": "indefinite"
                                                          },
                                                          "startBlock": {
                                                            "type": "object",
                                                            "properties": {
                                                              "timestamp": {
                                                                "type": "integer",
                                                                "minimum": -9007199254740991,
                                                                "maximum": 9007199254740991
                                                              },
                                                              "number": {
                                                                "type": "integer",
                                                                "minimum": 0,
                                                                "maximum": 9007199254740991
                                                              }
                                                            },
                                                            "required": ["timestamp", "number"],
                                                            "additionalProperties": false
                                                          }
                                                        },
                                                        "required": ["configType", "startBlock"],
                                                        "additionalProperties": false
                                                      },
                                                      "latestIndexedBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": {
                                                            "type": "integer",
                                                            "minimum": -9007199254740991,
                                                            "maximum": 9007199254740991
                                                          },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0,
                                                            "maximum": 9007199254740991
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      },
                                                      "latestKnownBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": {
                                                            "type": "integer",
                                                            "minimum": -9007199254740991,
                                                            "maximum": 9007199254740991
                                                          },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0,
                                                            "maximum": 9007199254740991
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "required": [
                                                      "chainStatus",
                                                      "config",
                                                      "latestIndexedBlock",
                                                      "latestKnownBlock"
                                                    ],
                                                    "additionalProperties": false
                                                  }
                                                ]
                                              }
                                            },
                                            "omnichainIndexingCursor": {
                                              "type": "integer",
                                              "minimum": -9007199254740991,
                                              "maximum": 9007199254740991
                                            }
                                          },
                                          "required": [
                                            "omnichainStatus",
                                            "chains",
                                            "omnichainIndexingCursor"
                                          ],
                                          "additionalProperties": false
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "omnichainStatus": {
                                              "type": "string",
                                              "const": "omnichain-backfill"
                                            },
                                            "chains": {
                                              "type": "object",
                                              "propertyNames": {
                                                "type": "string"
                                              },
                                              "additionalProperties": {
                                                "anyOf": [
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "chainStatus": {
                                                        "type": "string",
                                                        "const": "chain-queued"
                                                      },
                                                      "config": {
                                                        "anyOf": [
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "configType": {
                                                                "type": "string",
                                                                "const": "indefinite"
                                                              },
                                                              "startBlock": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "timestamp": {
                                                                    "type": "integer",
                                                                    "minimum": -9007199254740991,
                                                                    "maximum": 9007199254740991
                                                                  },
                                                                  "number": {
                                                                    "type": "integer",
                                                                    "minimum": 0,
                                                                    "maximum": 9007199254740991
                                                                  }
                                                                },
                                                                "required": ["timestamp", "number"],
                                                                "additionalProperties": false
                                                              }
                                                            },
                                                            "required": [
                                                              "configType",
                                                              "startBlock"
                                                            ],
                                                            "additionalProperties": false
                                                          },
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "configType": {
                                                                "type": "string",
                                                                "const": "definite"
                                                              },
                                                              "startBlock": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "timestamp": {
                                                                    "type": "integer",
                                                                    "minimum": -9007199254740991,
                                                                    "maximum": 9007199254740991
                                                                  },
                                                                  "number": {
                                                                    "type": "integer",
                                                                    "minimum": 0,
                                                                    "maximum": 9007199254740991
                                                                  }
                                                                },
                                                                "required": ["timestamp", "number"],
                                                                "additionalProperties": false
                                                              },
                                                              "endBlock": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "timestamp": {
                                                                    "type": "integer",
                                                                    "minimum": -9007199254740991,
                                                                    "maximum": 9007199254740991
                                                                  },
                                                                  "number": {
                                                                    "type": "integer",
                                                                    "minimum": 0,
                                                                    "maximum": 9007199254740991
                                                                  }
                                                                },
                                                                "required": ["timestamp", "number"],
                                                                "additionalProperties": false
                                                              }
                                                            },
                                                            "required": [
                                                              "configType",
                                                              "startBlock",
                                                              "endBlock"
                                                            ],
                                                            "additionalProperties": false
                                                          }
                                                        ]
                                                      }
                                                    },
                                                    "required": ["chainStatus", "config"],
                                                    "additionalProperties": false
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "chainStatus": {
                                                        "type": "string",
                                                        "const": "chain-backfill"
                                                      },
                                                      "config": {
                                                        "anyOf": [
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "configType": {
                                                                "type": "string",
                                                                "const": "indefinite"
                                                              },
                                                              "startBlock": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "timestamp": {
                                                                    "type": "integer",
                                                                    "minimum": -9007199254740991,
                                                                    "maximum": 9007199254740991
                                                                  },
                                                                  "number": {
                                                                    "type": "integer",
                                                                    "minimum": 0,
                                                                    "maximum": 9007199254740991
                                                                  }
                                                                },
                                                                "required": ["timestamp", "number"],
                                                                "additionalProperties": false
                                                              }
                                                            },
                                                            "required": [
                                                              "configType",
                                                              "startBlock"
                                                            ],
                                                            "additionalProperties": false
                                                          },
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "configType": {
                                                                "type": "string",
                                                                "const": "definite"
                                                              },
                                                              "startBlock": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "timestamp": {
                                                                    "type": "integer",
                                                                    "minimum": -9007199254740991,
                                                                    "maximum": 9007199254740991
                                                                  },
                                                                  "number": {
                                                                    "type": "integer",
                                                                    "minimum": 0,
                                                                    "maximum": 9007199254740991
                                                                  }
                                                                },
                                                                "required": ["timestamp", "number"],
                                                                "additionalProperties": false
                                                              },
                                                              "endBlock": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "timestamp": {
                                                                    "type": "integer",
                                                                    "minimum": -9007199254740991,
                                                                    "maximum": 9007199254740991
                                                                  },
                                                                  "number": {
                                                                    "type": "integer",
                                                                    "minimum": 0,
                                                                    "maximum": 9007199254740991
                                                                  }
                                                                },
                                                                "required": ["timestamp", "number"],
                                                                "additionalProperties": false
                                                              }
                                                            },
                                                            "required": [
                                                              "configType",
                                                              "startBlock",
                                                              "endBlock"
                                                            ],
                                                            "additionalProperties": false
                                                          }
                                                        ]
                                                      },
                                                      "latestIndexedBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": {
                                                            "type": "integer",
                                                            "minimum": -9007199254740991,
                                                            "maximum": 9007199254740991
                                                          },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0,
                                                            "maximum": 9007199254740991
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      },
                                                      "backfillEndBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": {
                                                            "type": "integer",
                                                            "minimum": -9007199254740991,
                                                            "maximum": 9007199254740991
                                                          },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0,
                                                            "maximum": 9007199254740991
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "required": [
                                                      "chainStatus",
                                                      "config",
                                                      "latestIndexedBlock",
                                                      "backfillEndBlock"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "chainStatus": {
                                                        "type": "string",
                                                        "const": "chain-completed"
                                                      },
                                                      "config": {
                                                        "type": "object",
                                                        "properties": {
                                                          "configType": {
                                                            "type": "string",
                                                            "const": "definite"
                                                          },
                                                          "startBlock": {
                                                            "type": "object",
                                                            "properties": {
                                                              "timestamp": {
                                                                "type": "integer",
                                                                "minimum": -9007199254740991,
                                                                "maximum": 9007199254740991
                                                              },
                                                              "number": {
                                                                "type": "integer",
                                                                "minimum": 0,
                                                                "maximum": 9007199254740991
                                                              }
                                                            },
                                                            "required": ["timestamp", "number"],
                                                            "additionalProperties": false
                                                          },
                                                          "endBlock": {
                                                            "type": "object",
                                                            "properties": {
                                                              "timestamp": {
                                                                "type": "integer",
                                                                "minimum": -9007199254740991,
                                                                "maximum": 9007199254740991
                                                              },
                                                              "number": {
                                                                "type": "integer",
                                                                "minimum": 0,
                                                                "maximum": 9007199254740991
                                                              }
                                                            },
                                                            "required": ["timestamp", "number"],
                                                            "additionalProperties": false
                                                          }
                                                        },
                                                        "required": [
                                                          "configType",
                                                          "startBlock",
                                                          "endBlock"
                                                        ],
                                                        "additionalProperties": false
                                                      },
                                                      "latestIndexedBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": {
                                                            "type": "integer",
                                                            "minimum": -9007199254740991,
                                                            "maximum": 9007199254740991
                                                          },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0,
                                                            "maximum": 9007199254740991
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "required": [
                                                      "chainStatus",
                                                      "config",
                                                      "latestIndexedBlock"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "chainStatus": {
                                                        "type": "string",
                                                        "const": "chain-following"
                                                      },
                                                      "config": {
                                                        "type": "object",
                                                        "properties": {
                                                          "configType": {
                                                            "type": "string",
                                                            "const": "indefinite"
                                                          },
                                                          "startBlock": {
                                                            "type": "object",
                                                            "properties": {
                                                              "timestamp": {
                                                                "type": "integer",
                                                                "minimum": -9007199254740991,
                                                                "maximum": 9007199254740991
                                                              },
                                                              "number": {
                                                                "type": "integer",
                                                                "minimum": 0,
                                                                "maximum": 9007199254740991
                                                              }
                                                            },
                                                            "required": ["timestamp", "number"],
                                                            "additionalProperties": false
                                                          }
                                                        },
                                                        "required": ["configType", "startBlock"],
                                                        "additionalProperties": false
                                                      },
                                                      "latestIndexedBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": {
                                                            "type": "integer",
                                                            "minimum": -9007199254740991,
                                                            "maximum": 9007199254740991
                                                          },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0,
                                                            "maximum": 9007199254740991
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      },
                                                      "latestKnownBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": {
                                                            "type": "integer",
                                                            "minimum": -9007199254740991,
                                                            "maximum": 9007199254740991
                                                          },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0,
                                                            "maximum": 9007199254740991
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "required": [
                                                      "chainStatus",
                                                      "config",
                                                      "latestIndexedBlock",
                                                      "latestKnownBlock"
                                                    ],
                                                    "additionalProperties": false
                                                  }
                                                ]
                                              }
                                            },
                                            "omnichainIndexingCursor": {
                                              "type": "integer",
                                              "minimum": -9007199254740991,
                                              "maximum": 9007199254740991
                                            }
                                          },
                                          "required": [
                                            "omnichainStatus",
                                            "chains",
                                            "omnichainIndexingCursor"
                                          ],
                                          "additionalProperties": false
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "omnichainStatus": {
                                              "type": "string",
                                              "const": "omnichain-completed"
                                            },
                                            "chains": {
                                              "type": "object",
                                              "propertyNames": {
                                                "type": "string"
                                              },
                                              "additionalProperties": {
                                                "anyOf": [
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "chainStatus": {
                                                        "type": "string",
                                                        "const": "chain-queued"
                                                      },
                                                      "config": {
                                                        "anyOf": [
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "configType": {
                                                                "type": "string",
                                                                "const": "indefinite"
                                                              },
                                                              "startBlock": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "timestamp": {
                                                                    "type": "integer",
                                                                    "minimum": -9007199254740991,
                                                                    "maximum": 9007199254740991
                                                                  },
                                                                  "number": {
                                                                    "type": "integer",
                                                                    "minimum": 0,
                                                                    "maximum": 9007199254740991
                                                                  }
                                                                },
                                                                "required": ["timestamp", "number"],
                                                                "additionalProperties": false
                                                              }
                                                            },
                                                            "required": [
                                                              "configType",
                                                              "startBlock"
                                                            ],
                                                            "additionalProperties": false
                                                          },
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "configType": {
                                                                "type": "string",
                                                                "const": "definite"
                                                              },
                                                              "startBlock": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "timestamp": {
                                                                    "type": "integer",
                                                                    "minimum": -9007199254740991,
                                                                    "maximum": 9007199254740991
                                                                  },
                                                                  "number": {
                                                                    "type": "integer",
                                                                    "minimum": 0,
                                                                    "maximum": 9007199254740991
                                                                  }
                                                                },
                                                                "required": ["timestamp", "number"],
                                                                "additionalProperties": false
                                                              },
                                                              "endBlock": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "timestamp": {
                                                                    "type": "integer",
                                                                    "minimum": -9007199254740991,
                                                                    "maximum": 9007199254740991
                                                                  },
                                                                  "number": {
                                                                    "type": "integer",
                                                                    "minimum": 0,
                                                                    "maximum": 9007199254740991
                                                                  }
                                                                },
                                                                "required": ["timestamp", "number"],
                                                                "additionalProperties": false
                                                              }
                                                            },
                                                            "required": [
                                                              "configType",
                                                              "startBlock",
                                                              "endBlock"
                                                            ],
                                                            "additionalProperties": false
                                                          }
                                                        ]
                                                      }
                                                    },
                                                    "required": ["chainStatus", "config"],
                                                    "additionalProperties": false
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "chainStatus": {
                                                        "type": "string",
                                                        "const": "chain-backfill"
                                                      },
                                                      "config": {
                                                        "anyOf": [
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "configType": {
                                                                "type": "string",
                                                                "const": "indefinite"
                                                              },
                                                              "startBlock": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "timestamp": {
                                                                    "type": "integer",
                                                                    "minimum": -9007199254740991,
                                                                    "maximum": 9007199254740991
                                                                  },
                                                                  "number": {
                                                                    "type": "integer",
                                                                    "minimum": 0,
                                                                    "maximum": 9007199254740991
                                                                  }
                                                                },
                                                                "required": ["timestamp", "number"],
                                                                "additionalProperties": false
                                                              }
                                                            },
                                                            "required": [
                                                              "configType",
                                                              "startBlock"
                                                            ],
                                                            "additionalProperties": false
                                                          },
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "configType": {
                                                                "type": "string",
                                                                "const": "definite"
                                                              },
                                                              "startBlock": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "timestamp": {
                                                                    "type": "integer",
                                                                    "minimum": -9007199254740991,
                                                                    "maximum": 9007199254740991
                                                                  },
                                                                  "number": {
                                                                    "type": "integer",
                                                                    "minimum": 0,
                                                                    "maximum": 9007199254740991
                                                                  }
                                                                },
                                                                "required": ["timestamp", "number"],
                                                                "additionalProperties": false
                                                              },
                                                              "endBlock": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "timestamp": {
                                                                    "type": "integer",
                                                                    "minimum": -9007199254740991,
                                                                    "maximum": 9007199254740991
                                                                  },
                                                                  "number": {
                                                                    "type": "integer",
                                                                    "minimum": 0,
                                                                    "maximum": 9007199254740991
                                                                  }
                                                                },
                                                                "required": ["timestamp", "number"],
                                                                "additionalProperties": false
                                                              }
                                                            },
                                                            "required": [
                                                              "configType",
                                                              "startBlock",
                                                              "endBlock"
                                                            ],
                                                            "additionalProperties": false
                                                          }
                                                        ]
                                                      },
                                                      "latestIndexedBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": {
                                                            "type": "integer",
                                                            "minimum": -9007199254740991,
                                                            "maximum": 9007199254740991
                                                          },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0,
                                                            "maximum": 9007199254740991
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      },
                                                      "backfillEndBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": {
                                                            "type": "integer",
                                                            "minimum": -9007199254740991,
                                                            "maximum": 9007199254740991
                                                          },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0,
                                                            "maximum": 9007199254740991
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "required": [
                                                      "chainStatus",
                                                      "config",
                                                      "latestIndexedBlock",
                                                      "backfillEndBlock"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "chainStatus": {
                                                        "type": "string",
                                                        "const": "chain-completed"
                                                      },
                                                      "config": {
                                                        "type": "object",
                                                        "properties": {
                                                          "configType": {
                                                            "type": "string",
                                                            "const": "definite"
                                                          },
                                                          "startBlock": {
                                                            "type": "object",
                                                            "properties": {
                                                              "timestamp": {
                                                                "type": "integer",
                                                                "minimum": -9007199254740991,
                                                                "maximum": 9007199254740991
                                                              },
                                                              "number": {
                                                                "type": "integer",
                                                                "minimum": 0,
                                                                "maximum": 9007199254740991
                                                              }
                                                            },
                                                            "required": ["timestamp", "number"],
                                                            "additionalProperties": false
                                                          },
                                                          "endBlock": {
                                                            "type": "object",
                                                            "properties": {
                                                              "timestamp": {
                                                                "type": "integer",
                                                                "minimum": -9007199254740991,
                                                                "maximum": 9007199254740991
                                                              },
                                                              "number": {
                                                                "type": "integer",
                                                                "minimum": 0,
                                                                "maximum": 9007199254740991
                                                              }
                                                            },
                                                            "required": ["timestamp", "number"],
                                                            "additionalProperties": false
                                                          }
                                                        },
                                                        "required": [
                                                          "configType",
                                                          "startBlock",
                                                          "endBlock"
                                                        ],
                                                        "additionalProperties": false
                                                      },
                                                      "latestIndexedBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": {
                                                            "type": "integer",
                                                            "minimum": -9007199254740991,
                                                            "maximum": 9007199254740991
                                                          },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0,
                                                            "maximum": 9007199254740991
                                                          }
                                                        },
                                                        "required": ["timestamp", "number"],
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "required": [
                                                      "chainStatus",
                                                      "config",
                                                      "latestIndexedBlock"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "chainStatus": {
                                                        "type": "string",
                                                        "const": "chain-following"
                                                      },
                                                      "config": {
                                                        "type": "object",
                                                        "properties": {
                                                          "configType": {
                                                            "type": "string",
                                                            "const": "indefinite"
                                                          },
                                                          "startBlock": {
                                                            "type": "object",
                                                            "properties": {
                                                              "timestamp": {
                                                                "type": "integer",
                                                                "minimum": -9007199254740991,
                                                                "maximum": 9007199254740991
                                                              },
                                                              "number": {
                                                                "type": "integer",
                                                                "minimum": 0,
                                                                "maximum": 9007199254740991
                                                              }
                                                            },
                                                            "required": ["timestamp", "number"],
                                                            "additionalProperties": false
                                                          }
                                                        },
                                                        "required": ["configType", "startBlock"],
                                                        "additionalProperties": false
                                                      },
                                                      "latestIndexedBlock": {
                                                        "type": "object",
                                                        "properties": {
                                                          "timestamp": {
                                                            "type": "integer",
                                                            "minimum": -9007199254740991,
                                                            "maximum": 9007199254740991
                                                          },
                                                          "number": {
                                                            "type": "integer",
                                                            "minimum": 0,
                                                            "maximum": 9007199254740991
[...]
