@import "tailwindcss" prefix(nhui);
@import "tw-animate-css";
@plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *));

:root {
    --nhui-background: oklch(1 0 0);
    --nhui-foreground: oklch(0.145 0 0);
    --nhui-card: oklch(1 0 0);
    --nhui-card-foreground: oklch(0.145 0 0);
    --nhui-popover: oklch(1 0 0);
    --nhui-popover-foreground: oklch(0.145 0 0);
    --nhui-primary: oklch(0.205 0 0);
    --nhui-primary-foreground: oklch(0.985 0 0);
    --nhui-secondary: oklch(0.97 0 0);
    --nhui-secondary-foreground: oklch(0.205 0 0);
    --nhui-muted: oklch(0.97 0 0);
    --nhui-muted-foreground: oklch(0.556 0 0);
    --nhui-accent: oklch(0.97 0 0);
    --nhui-accent-foreground: oklch(0.205 0 0);
    --nhui-destructive: oklch(0.577 0.245 27.325);
    --nhui-destructive-foreground: oklch(0.577 0.245 27.325);
    --nhui-border: oklch(0.922 0 0);
    --nhui-input: oklch(0.922 0 0);
    --nhui-ring: oklch(0.708 0 0);
    --nhui-chart-1: oklch(0.646 0.222 41.116);
    --nhui-chart-2: oklch(0.6 0.118 184.704);
    --nhui-chart-3: oklch(0.398 0.07 227.392);
    --nhui-chart-4: oklch(0.828 0.189 84.429);
    --nhui-chart-5: oklch(0.769 0.188 70.08);
    --nhui-radius: 0.625rem;
    --nhui-sidebar: oklch(0.985 0 0);
    --nhui-sidebar-foreground: oklch(0.145 0 0);
    --nhui-sidebar-primary: oklch(0.205 0 0);
    --nhui-sidebar-primary-foreground: oklch(0.985 0 0);
    --nhui-sidebar-accent: oklch(0.97 0 0);
    --nhui-sidebar-accent-foreground: oklch(0.205 0 0);
    --nhui-sidebar-border: oklch(0.922 0 0);
    --nhui-sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
    --color-background: var(--nhui-background);
    --color-foreground: var(--nhui-foreground);
    --color-card: var(--nhui-card);
    --color-card-foreground: var(--nhui-card-foreground);
    --color-popover: var(--nhui-popover);
    --color-popover-foreground: var(--nhui-popover-foreground);
    --color-primary: var(--nhui-primary);
    --color-primary-foreground: var(--nhui-primary-foreground);
    --color-secondary: var(--nhui-secondary);
    --color-secondary-foreground: var(--nhui-secondary-foreground);
    --color-muted: var(--nhui-muted);
    --color-muted-foreground: var(--nhui-muted-foreground);
    --color-accent: var(--nhui-accent);
    --color-accent-foreground: var(--nhui-accent-foreground);
    --color-destructive: var(--nhui-destructive);
    --color-destructive-foreground: var(--nhui-destructive-foreground);
    --color-border: var(--nhui-border);
    --color-input: var(--nhui-input);
    --color-ring: var(--nhui-ring);
    --color-chart-1: var(--nhui-chart-1);
    --color-chart-2: var(--nhui-chart-2);
    --color-chart-3: var(--nhui-chart-3);
    --color-chart-4: var(--nhui-chart-4);
    --color-chart-5: var(--nhui-chart-5);
    --radius-sm: calc(var(--nhui-radius) - 4px);
    --radius-md: calc(var(--nhui-radius) - 2px);
    --radius-lg: var(--nhui-radius);
    --radius-xl: calc(var(--nhui-radius) + 4px);
    --color-sidebar: var(--nhui-sidebar);
    --color-sidebar-foreground: var(--nhui-sidebar-foreground);
    --color-sidebar-primary: var(--nhui-sidebar-primary);
    --color-sidebar-primary-foreground: var(--nhui-sidebar-primary-foreground);
    --color-sidebar-accent: var(--nhui-sidebar-accent);
    --color-sidebar-accent-foreground: var(--nhui-sidebar-accent-foreground);
    --color-sidebar-border: var(--nhui-sidebar-border);
    --color-sidebar-ring: var(--nhui-sidebar-ring);
}

@layer base {
    * {
        @apply nhui:border-border nhui:outline-ring/50;
    }
    body {
        @apply nhui:bg-background nhui:text-foreground;
    }
}
