---
import { GithubIcon } from "@workspace/docs/ensrainbow.io/src/components/atoms/icons/GithubIcon";
import { TelegramIcon } from "@workspace/docs/ensrainbow.io/src/components/atoms/icons/TelegramIcon.tsx";
import cc from "classcat";
import { Balancer } from "react-wrap-balancer";
import TelegramBanner from "../../assets/telegram_image.svg";
import MobileTelegramBanner from "../../assets/telegram_mobile_image.svg";
import { ENSNodeLogoLight } from "../atoms/logos/ENSNodeLogoLight";

const buttonStyles =
  "transition text-sm leading-4 rounded-lg border font-medium inline-flex gap-2 items-center whitespace-nowrap underline-none py-2 px-4 bg-black text-white border-black hover:bg-[#272727] pl-[11px] py-[9px] pr-[13px] gap-2";
const headerStyles = "text-lg leading-8 font-semibold text-black";
const baseContainerStyles = "flex flex-col flex-nowrap justify-center items-center";
---

<aside class={cc([baseContainerStyles,"gap-5"])}>
    <div class={cc([baseContainerStyles, "gap-5 py-8 max-w-[270px] rounded-xl border border-gray-200"])}>
        <ENSNodeLogoLight className="w-[52px] h-auto"/>
        <div class={cc([baseContainerStyles, "gap-2"])}>
            <h3 class={headerStyles}>Spread the word</h3>
            <Balancer as="p" className="text-center text-sm leading-6 font-normal text-gray-500">Your star helps us reach more developers and fuels our open-source mission</Balancer>
        </div>
        <a href="https://github.com/namehash/ensnode" target="_blank" rel="noopener noreferrer"><button class={buttonStyles} style={{fontSize: "14px", fontWeight: "500"}}><GithubIcon className="w-4 h-auto"/> Star on GitHub</button></a>
    </div>
    <div class="bg-[linear-gradient(90deg,_#F9FAFB_0%,_#F3F5F7_100%)] max-w-[270px] w-full h-fit flex flex-col justify-center items-center flex-nowrap gap-8 pt-8 rounded-[20px] overflow-hidden">
        <div class={cc([baseContainerStyles, "w-full h-fit gap-5 px-4" ])}>
            <div class={cc([baseContainerStyles, "gap-2"])}>
                <Balancer
                        as="h2"
                        className="self-stretch text-[19px] leading-[26px] font-semibold text-black text-center"
                >
                    Become a part of our community in Telegram
                </Balancer>
                <Balancer
                        as="p"
                        className="text-[15px] leading-[26px] font-normal text-gray-500 text-center"
                >
                    Get updates, technical support, and connect with our team building the multichain future.
                </Balancer>
            </div>
            <a href="http://t.me/ensnode" target="_blank" rel="noopener noreferrer"><button class={buttonStyles} style={{fontSize: "14px", fontWeight: "500"}}><TelegramIcon className="w-4 h-auto"/> Join our Telegram</button></a>
        </div>
        <img
                class="flex w-fit h-full shri0 object-contain bg-no-repeat"
                src={MobileTelegramBanner.src}
                alt="Telegram Banner"
        />
    </div>
</aside>
