name: "Plan: Terraform for ENSNode Yellow Environment"

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Docker Image Tag (also used for schema name generation)"
        required: true
        type: string
  pull_request:
    paths:
      - "terraform/**"

permissions:
  id-token: write
  contents: read

jobs:
  plan-environment:
    runs-on: blacksmith-4vcpu-ubuntu-2204
    env:
      TARGET_ENVIRONMENT: "yellow"
      # Terraform related envs

      # AWS_REGION is required for aws-actions/configure-aws-credentials@v4
      # Terraform keeps it's state inside S3 bucket. This bucket needs to be created before running Terraform apply.
      # AWS_REGION should be the same as Terraform S3 bucket state region.
      AWS_REGION: us-east-1

      # Set R2 credentials as AWS credentials for Terraform to access R2 bucket
      # AWS_EC2_METADATA_DISABLED: true  # Important: disable EC2 metadata lookup
      AWS_ACCESS_KEY_ID: ${{ secrets.CF_R2_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.CF_R2_SECRET_ACCESS_KEY }}

      TF_VAR_ensnode_version: ${{ inputs.tag || 'latest' }}
      TF_VAR_ensindexer_label_set_id: ${{ vars.LABEL_SET_ID }}
      TF_VAR_ensindexer_label_set_version: ${{ vars.LABEL_SET_VERSION }}
      TF_VAR_ensrainbow_label_set_id: ${{ vars.LABEL_SET_ID }}
      TF_VAR_ensrainbow_label_set_version: ${{ vars.LABEL_SET_VERSION }}
      TF_VAR_db_schema_version: ${{ vars.DB_SCHEMA_VERSION }}
      TF_VAR_anthropic_api_key: ${{ secrets.ANTHROPIC_API_KEY }}
      # For now only one Terraform environment is active. In future this will be calculated based on workflow input.
      TF_VAR_render_environment: "yellow"
      TF_VAR_render_api_key: ${{ secrets.RENDER_API_KEY }}
      TF_VAR_render_owner_id: ${{ secrets.RENDER_OWNER_ID }}
      TF_VAR_alchemy_api_key: ${{ secrets.ALCHEMY_API_KEY }}
      TF_VAR_quicknode_api_key: ${{ secrets.QUICKNODE_API_KEY }}
      TF_VAR_quicknode_endpoint_name: ${{ secrets.QUICKNODE_ENDPOINT_NAME}}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}

      - name: Terraform Init
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.CF_R2_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.CF_R2_SECRET_ACCESS_KEY }}
        run: terraform init -upgrade
        working-directory: terraform

      - name: Terraform workspace
        run: terraform workspace select ${{env.TF_VAR_render_environment}}
        working-directory: terraform

      - name: Terraform Validate
        run: terraform validate
        working-directory: terraform

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE}}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Plan
        run: terraform plan -out=tfplan
        working-directory: terraform
